[Unit]
Description=Printer Control

[Service]
ExecStart=/home/visola/server/start.py
Restart=on-failure
Type=idle
WorkingDirectory=/home/visola/server

[Install]
WantedBy=multi-user.target
