[Unit]
Description=Printer Control

[Service]
Type=idle
ExecStart=/home/visola/server/start.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
